
          <template name="about">

          <div class="inner cover">
          <div class="front_story">
            <p class="lead">HKPostcloser is a web application that allows its users to track all of the tasks and responsibilities that need to occur after a successful transaction closing.  In other words, all of those to-do items that often fall through the cracks and/or require a painfull amount of resources in order to properly track.  With HKPostcloser, users can free up those resources for more productive uses, like increasing revenue.</p>
            <p class="lead">
            </p>
            </div>
          </div>
          </template>
          