<template name="dealPage">
{{#if currentUser}}
  {{> dealItem}}
  <h4>
  {{#each tasks}}
  {{>showTasks}}
  {{/each}}
    <label class="hide-completed">
  <input type="checkbox" checked="{{hideCompleted}}" />
Hide Completed Tasks
</label>
  </h4>

  <form class="main form">
    <div class="form-group">
      <label class="control-label" for="task_text">Add Task</label>
      <div class="controls">
          <input name="task_text" id="task_text" type="text" value="{{task_text}}" placeholder="Enter Task" class="form-control"/>
         <p>Due Date</p> <input name="task_due_date" id="task_due_date" type="date" value="{{dealDate}}"/>
         <p>Notes</p><input name="task_notes" id="task_notes" type="text" value="{{task_notes}}" placeholder="Notes" class="form-control"/>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary submit"/>
  </form>
   <a href="{{pathFor 'features'}}">Return to Deal List</a>
   {{else}}
   <h1>You must be signed in to access deals</h1>
   {{/if}}
</template>