<template name="dealEdit">
  <form class="main form">
    <div class="form-group">
      <label class="control-label" for="client_number">Client Number</label>
      <div class="controls">
          <input name="client_number" id="client_number" type="text" value="{{client_number}}" placeholder="Client Number" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="matter_number">Matter Number</label>
      <div class="controls">
          <input name="matter_number" id="matter_number" type="text" value="{{matter_number}}" placeholder="Matter Number" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
          <input name="title" id="title" type="text" value="{{title}}" placeholder="Name your deal" class="form-control"/>
      </div>
    </div>    
<!--Responsible attorney input.-->
    <div class="form-group">
      <label class="control-label" for="title">Responsible attorney email address</label>
      <div class="controls">
        <input name="responsible_attorney_email" id="responsible_attorney_email" type="text" value="{{responsible_attorney_email}}" placeholder="Responsible attorney email address" class="form-control"/>
      </div>
    </div>
    <!--Responsible partner input.-->
    <div class="form-group">
      <label class="control-label" for="title">Responsible partner email address</label>
      <div class="controls">
        <input name="responsible_partner_email" id="responsible_partner_email" type="text" value="{{responsible_partner_email}}" placeholder="Responsible partner email address" class="form-control"/>
      </div>
    </div>
     <!--Closing agent input.-->
    <div class="form-group">
      <label class="control-label" for="title">Closing agent email address</label>
      <div class="controls">
        <input name="closing_agent_email" id="closing_agent_email" type="text" value="{{closing_agent_email}}" placeholder="Closing agent email address" class="form-control"/>
      </div>
    </div>
    <!--Bank closer input.-->
    <div class="form-group">
      <label class="control-label" for="title">Bank closer email address</label>
      <div class="controls">
        <input name="bank_closer_email" id="bank_closer_email" type="text" value="{{bank_closer_email}}" placeholder="Bank closer email address" class="form-control"/>
      </div>
    </div>
    Due Date:
    <input type="date" value ="{{duedate}}" name="due_date">
    <input type="submit" value="Submit" class="btn btn-primary"/>
    <a class="btn btn-danger delete" href="#">Delete deal</a>
  </form>
</template>