
<template name="home">

         <div class="inner cover">
            <h1 class="cover-heading">Nothing Falls Through the Cracks.</h1><div class="front_story">
            <p class="lead">PostCloser is a powerful web based application developed to provide professionals with a tool to track and manage post-closing tasks and responsibilities.  PostCloser not only reduces risk, but saves its users time, resources and money.</p></div>
            <p class="lead">
              <a href="{{pathFor 'about'}}" class="btn btn-lg btn-default">Learn more</a>
            </p>
          </div>
          </template>