<template name="showTasks">
	<div class="post">
    	<div class="post-content">
			<ul class="list-group">
      			<li class="{{#if checked}}checked{{/if}}">
    			<input type="checkbox" checked="{{checked}}" class="toggle-checked" />
    			<span class="text">{{title}}      {{task_due_date}}  </span><a href="{{pathFor 'taskeditPage'}}" class="btn btn-primary submit">Edit</a> <button class="btn btn-danger delete">Delete</button><p align=left>Notes: {{task_notes}}</p>
    			</li>
    		</ul>
   	 	</div>
   </div>
</template>